<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FollowMe!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1>An error has occurred, check the following issues and try again</h1>

<p>you must add a list of names in the ULR as follows</p>
<p>/twitterscrapper?names=@name1,@name2,...</p>
</body>
</html>
